<section id="references">
    <div class="container  mb-5">
        <h2><strong>Recommandations</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="card shadow-lg  rounded pb-3" data-aos="fade-right" data-aos-delay="300">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="not-active active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1" class="not-active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2" class="not-active"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="d-block w-100">
                            <div class="row">
                                <div class="col-lg-2 ml-4 mr-4 col-sm-12">
                                    <div class="row">
                                        <div class="mt-4">
                                            <img src="assets/images/unknown.jpg" class="d-block w-100 rounder" alt="Recommendation One">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mt-3">
                                            <h5>Alexander Duncan</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mt-2 ">
                                            <h5><small>Senior Manager</small></h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mt-2 ">
                                            <span class="text-uppercase"><strong>Eenst & Young, U.S.LLC</strong></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body ml-4 mr-3 mt-4 col-lg-9 col-sm-12">
                                    <div class="row">
                                        <span>I have worked closely with Chaxul for 12+ months on a large Asset Management client. During this time, he was accountable for the delivery of the front end of a custom web based application. 
                                            Following Agile principles, Chaxul was able to help build an application that delivered its desired business outcomes. Chaxul is a hard worker; on many occasions he worked late into the night and over the weekends to ensure the required project timeline was met. 
                                            Whilst doing this, he always maintained a positive attitude. He was also able to quickly turn around enhancements or defects identified by users during our sprint reviews which was greatly appreciated by the end users. These sprint reviews were often led by Chaxul and in each circumstance, he did a great job of showing to end users the features he had built over the past two weeks. Based on Chaxul’ s high quality of work, positive enthusiasm and strong team work abilities, I would highly recommend working with Chaxul.                                         
                                            <p style="font-size: 11px;">*No image because of privacy but can find on linkedIn as well</p>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="d-block w-100">
                            <div class="row">
                                <div class="col-lg-2 ml-4 mr-4 col-sm-12">
                                    <div class="row">
                                        <div class="mt-4">
                                            <img src="assets/images/unknown.jpg" class="d-block w-100 rounder" alt="Recommendation Two">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mt-3">
                                            <h5>Erica Guketlov</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mt-2 ">
                                            <h5><small>Senior Concultant</small></h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mt-2 ">
                                            <span class="text-uppercase"><strong>Ernst & Young U.S.LLC</strong></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body ml-4 mr-3 mt-4 col-lg-9 col-sm-12">
                                    <div class="row">
                                        <span>I have been working with Chaxul on a custom application development engagement at EY. Chaxul possesses both deep technical and business acumens. 
                                            He is mainly responsible for building the user interface (UI) for two custom applications in AngularJS to solve complex business requirements. 
                                            His deep understanding of a complex business workflow allows him to ensure the UI supports all edge cases. The user-friendly applications have been well-received by the business users which is a testament to Chaxul’s expertise with not just AngularJS but also how the application can support common workflows for the business users. Chaxul’s ability to come up with solutions quickly and attention to detail tagged with his deep programming skillset is why Chaxul is an integral member of the team. He is also a great team player and brings a positive attitude every day!                                         
                                            <p style="font-size: 11px;">*No image because of privacy but can find on linkedIn as well</p>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="d-block w-100">
                            <div class="row">
                                <div class="col-lg-2 ml-4 mr-4 col-sm-12">
                                    <div class="row">
                                        <div class="mt-4">
                                            <img src="assets/images/unknown.jpg" class="d-block w-100 rounder" alt="Second slide">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mt-3">
                                            <h5>Michelle Christofferson</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mt-2 ">
                                            <h5><small>Senior Consultant</small></h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mt-2 ">
                                            <span class="text-uppercase"><strong>Ernst & Young U.S.LLC</strong></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="card-body ml-4 mr-3 mt-4 col-lg-9 col-sm-12">
                                    <div class="row">
                                        <span>I worked with Chaxul on an order management system conversion and custom development engagement at EY. Chaxul is a very talented developer who was able to handle any task thrown his way with ease including working in applications and code structures that were altogether new to him. 
                                            He is eager to learn--both as a developer and in the wealth and asset management space--and is an invaluable member of the team.
                                            <p style="font-size: 11px;">*No image because of privacy but can find on linkedIn as well</p>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>